<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    ">

     <bean id="draw2dBean" class="com.di.task.Draw2d">
     </bean>

    <bean id="draw3dBean" class="com.di.task.Draw3d">
    </bean>

    <bean id="circle" class="com.di.task.Circle">
       <constructor-arg ref ="draw2dBean"/>
       <constructor-arg ref ="draw3dBean"/>
    </bean>

    <bean id="square" class="com.di.task.Square">
        <property name ="draw2dObj" ref="draw2dBean"/>
        <property name ="draw3dObj" ref="draw3dBean"/>
    </bean>

        </beans>







